.fullscreen-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .form-wrapper {
        max-width: 500px;
        width: 90%;
        label {
            color: slategray;
        }
        button {
            width: 100%;
        }
        .input-error {
            color: #e10909;
            padding: 5px 10px;
            background-color: #f6eaea;
            text-align: center;
        }
    }
}