.menu {
    position: fixed;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);

    width: fit-content;
    padding: 10px 30px;

    background-color: #1B3446;
    border-radius: 23px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
    &:hover {
        box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
    }
    .menu__list {
        margin: 0;
        padding: 0;
        display: flex;
        .menu__list-item {
            list-style-type: none;
            margin: 0 4px;
            .menu__list-item-icon {
                color: #757575;
                width: 21px;
                height: 21px;
                cursor: pointer;
                &.active {
                    color: #B3B3B3;
                    width: 24px;
                    height: 24px;
                }
                &:hover {
                    color: #f3f397;
                }
            }
        }
        .suitcase-icon {
            transform: translateY(-2px);
        }
    }
}