.pipeline {
    display: flex;
    .status {
        flex: 1;
        max-width: 315px;
        margin: 0 5px;
        .status__title {
            text-transform: uppercase;
            text-align: center;
            font-weight: bold;
            padding: 20px 0;
            border-bottom: 2px solid;
            margin-bottom: 5px;
        }
        .lead-card {
            border: 1px solid #C5C5C5;
            background-color: #fff;
            padding: 20px;
            margin-bottom: 5px;
            cursor: pointer;
            &:hover {
                background-color: #F5F5F5;
            }
        }
    }
}